* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  width: 100%;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  color: white;
}

.container {
  width: 100%;
  min-height: 100vh;
  --color1: rgb(255, 4, 4);
  --color2: rgb(0, 0, 0);
  background-color: var(--color1);
  background-image: linear-gradient(
      45deg,
      var(--color2) 25%,
      transparent 25%,
      transparent 75%,
      var(--color2) 75%
    ),
    linear-gradient(
      45deg,
      transparent 25%,
      var(--color1) 25%,
      var(--color1) 75%,
      transparent 75%
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  background-size: 80px 80px, 80px 80px, 100% 100%;
  background-position: 0 0, 40px 40px, 0 0;
  padding: 20px 0;
}

/*cartas*/
.position1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.position2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background:linear-gradient(
    45deg,
    rgba(255, 4, 4, 0.5) 25%,
    transparent 25%,
    transparent 75%,
    rgba(255, 4, 4, 0.5) 75%
  );
  background-color: black;
  
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
}

/*script carrusel*/

.cardC {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  background: #212121;
  display: flex;
  gap: 5px;
  padding: .4em;
}

.cardC p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #212121;
  border: 1px solid #ff5a91;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardC p:hover {
  flex: 4;
}

.cardC p span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #ff568e;
  letter-spacing: .1em;
}

.cardC p:hover span {
  transform: rotate(0);
}


/*data final*/

.cuboTotal {

display: flex;

}

.cuboJ {

padding: 2%;
height: 400px;
width: 30%;
background-color: green;

}

.cuboC {

padding: 2%;
height: 400px;
width: 30%;
background-color: cadetblue; 
  
}

.cuboT {

padding: 2%;
height: 400px;
width: 30%;
background-color: chocolate; 
  
}

.cuboJau {

padding: 2%;
height: 400px;
width: 30%;
background-color: red;  

}


/*ajustes responsive*/

@media screen and (max-width: 768px) {
  #item-carrusel {
    width: 100%;
    margin-left: 0;
    height: auto;
  }

  .carrusel {
    width: 100%;
    height: auto;
    position: relative;
  }

  .tarjetac {
    height: auto;
  }

  .tarjetac img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .flechasc {
    padding: 10px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cuboTotal {

    display: flex;
    
    }
    
    .cuboJ {
    
    height: 800px;
    width: 30%;
    background-color: green;
    
    }
    
    .cuboC {
    
    height: 800px;
    width: 30%;
    background-color: cadetblue; 
      
    }
    
    .cuboT {
    
    height: 800px;
    width: 30%;
    background-color: chocolate; 
    
    }
    
    .cuboJau {
    
    height: 800px;
    width: 30%;
    background-color: red;  
    
    }
}

@media screen and (max-height: 768px) {
  #item-carrusel {
    width: 100%;
    margin-left: 0;
    height: auto;
  }

  .carrusel {
    width: 100%;
    height: auto;
    position: relative;
  }

  .tarjetac {
    height: auto;
  }

  .tarjetac img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .flechasc {
    padding: 10px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cuboTotal {

    display: flex;
    
    }
    
    .cuboJ {
    
    height: 800px;
    width: 30%;
    background-color: green;
    
    }
    
    .cuboC {
    
    height: 800px;
    width: 30%;
    background-color: cadetblue; 
      
    }
    
    .cuboT {
    
    height: 800px;
    width: 30%;
    background-color: chocolate; 
    
    }
    
    .cuboJau {
    
    height: 800px;
    width: 30%;
    background-color: red;  
    
    }
}
